<div class="toolbox">

  <div class="search-box">
    <input type="text" placeholder="Pesquisar componente" />
  </div>

  @for(group of groups; track group.id) {

    <div class="group">

      <div class="group-header" (click)="toggle(group)">
        <span>{{ group.expanded ? 'v' : '>' }}</span>
        <span>{{ group.name }}</span>
      </div>

      @if(group.expanded) {
        <div class="group-items">
          @for(item of group.items; track item.id) {

            <div
              class="toolbox-item"
              [class.is-draggable]="item.draggable"
              [class.coming-soon]="!item.draggable && item.id !== 'section'"
              [draggable]="item.draggable === true"
              (click)="selectItem(item)"
              (dragstart)="onDragStart($event, item)"
              (dragend)="onDragEnd()"
            >
              <span class="item-icon">{{ item.icon }}</span>
              <span class="item-name">{{ item.name }}</span>
              @if(item.draggable){
                <span class="drag-hint">drag</span>
              }
              @if(!item.draggable && item.id !== 'section'){
                <span class="soon-badge">em breve</span>
              }
            </div>

          }
        </div>
      }

    </div>

  }

</div>
